
header{
    z-index: 2;
    height: 100px;
    position: relative;
    width: 100%;
    margin: 0;
    color: #E05151;
}
#header_title{
    position: absolute;
    margin: 12.5px auto;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
#drums_title{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

}
.header_link{
    position: absolute;
    height: 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #E05151;
    border-radius: 5px;
    padding: 10px;
    top: 25px;
}
.header_link:hover{
    -webkit-box-shadow:  2px 2px 10px black;
    -moz-box-shadow:  2px 2px 10px black;
    box-shadow:  2px 2px 10px black;
}
#home_link{
    left: 50px;
}
#browse{
    right: 150px;
}
#upload{
    left: 150px;
}
#logout{
    right: 50px;
}
#browse_logged_out{
    right: 50px;
}
#login_link{
    left: 50px;
}