#sheet-music-header{
    margin-top: 300px;

}
#music-staff, #sheet-music-header p {
    margin: 1em auto;
    position: relative;
    display: block;
    width: 1220px;
}

@media (max-width: 1220px) {
    #music-staff, #sheet-music-header p {
        width: 810px;
    }
}

@media (max-width: 810px) {
    #music-staff, #sheet-music-header p {
        width: 405px;
    }
}

#music-staff svg {
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    background-color: white;
}

#music-staff svg * {
    fill: black;
    stroke: black;
    stroke-width: 1;
}

#music-staff svg ellipse {
    rx: 31;
    ry: 22;
}

#music-staff svg line {
    stroke-width: 8;
}

#music-staff svg .open {
    stroke-width: 8;
    fill: none;
}
