svg {
    border: solid 1px grey;
}

svg * {
    fill: black;
    stroke: black;
    stroke-width: 1;
}

svg ellipse {
    rx: 31;
    ry: 22;
}

svg line {
    stroke-width: 8;
}

svg .open {
    stroke-width: 8;
    fill: none;
}
