#music-staff svg {
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

#music-staff svg * {
    fill: black;
    stroke: black;
    stroke-width: 1;
}

#music-staff svg ellipse {
    rx: 31;
    ry: 22;
}

#music-staff svg line {
    stroke-width: 8;
}

#music-staff svg .open {
    stroke-width: 8;
    fill: none;
}
