
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
body{
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #393939; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#555555, #111111); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#555555, #111111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#555555, #111111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#555555, #111111); /* Standard syntax */
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
#svg-drums-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*display: block;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#sheet-music-header {
    position: relative;
    top: 670px;
}

#sheet-music-header h2 {
    text-align: center;
}

i {
    color: white;
}

i:hover {
    color: gray-light;
}

#Drums:hover {
    cursor: pointer;
}