body{
    overflow-x: hidden;
    padding-bottom: 50px;
}
#popular {
    width: 90%;
    margin-left: 5%;
}
#songs{
    display: inline-flex;
    width: 100%;
    margin: 0 0 50px;
    position: relative;
    padding-bottom: 10px;
}
#all_songs{
    width: 90%;
    margin: 0 auto 50px;
    border: 1px solid #E05151;
    border-radius: 5px;
    padding: 20px 0 20px 0 ;
}
#all_files{
    width: 90%;
    margin: 0 auto 50px;
    border: 1px solid #E05151;
    border-radius: 5px;
    padding: 20px 0 20px 0;
}
#all_songs hr{
    margin-bottom: 15px;
}
#all_files hr{
    margin-bottom: 15px;
}
.votes{
    height: 15px;
    margin-left: 10px;
    margin-right: 5px;
}
.column{
    width: 43%;
    margin: 0;
    display: inline-flex;
    font-size: 18px;
    height: 25px
}
/*.song_wide{*/
    /*font-size: 25px;*/
/*}*/
.song_wide, .song_wide_names, hr{
    margin-left: 20px;
    margin-right: 20px;
}
.song_wide:hover{
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    cursor: hand;
}
.popularity{
    width: 10%;
    margin: 0 auto;
    justify-content: center;
}
.song_wide_names .column{
    font-size: 25px;
}
#view_all{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.click_title{
    margin: 0 25px 15px 25px;
    cursor: pointer;
    cursor: hand;
}
.selected_title{
    text-decoration: underline;
}
.grid{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.item{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    border: 1px solid #E05151;
    padding: 10px;
}
.item h1{
    text-align: center;
    margin: 10px auto;
}
.song{
    height: 30px;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color: inherit;
}
.song:hover{
    color: #E05151;
}

#search_songs{
    position: absolute;
    left: 10px;
    top: 20px;
    display: inline-block;
    color: #75A3D1;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #E05151;
    background: transparent;
    padding-left: 5px;
}
#search_songs:focus{
    outline: none;
}
#search_songs_button{
    position: absolute;
    right: 10px;
    top: 20px;
    display: inline-block;
    height: 33px;
    width: 60px;
    border: 1px solid #E05151;
    background-color: transparent;
    color: #E05151;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}
#search_songs_button:hover{
    background-color: #E05151;
    color: white;

}
#search_songs_button:focus{
    outline: none;
}
#results{
    width: 100%;
    margin-top: 50px;
}
/* Make it a marquee */
.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    animation-play-state: paused;

}

.marquee:hover {
    animation: marquee 10s linear infinite;
    animation-play-state: running;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0}
    100% { text-indent: -100% }
}
